table {
    margin-left:20px;
    width: 100%;
  }
  
.form-header{
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 5px;
  }
  
  .entry-button-wrapper{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .page-heading {
      /*color: #3F51B5;
      color: grey;*/
      font-size:24pt;
      font-weight: bold;
      margin-left: 0%;
      margin-bottom: 20px;
  }

  .full-width {
    width: 95%;
    color: grey;
  }

  .half-width {
    width: 48%;
    color: grey;
  }